.wrapper {
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 12px;
    padding: 5px 10px;
    background-color: #65dbff;
    box-shadow: 5px 5px 5px rgb(97, 97, 97);
    color: #000000;
}

.title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;

    &::first-letter {
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: underline;
    }
}

.body {
    font-size: 16px;
    text-align: justify;

    &::first-letter {
        text-transform: uppercase;
    }
}
