.paginate {
    margin-top: 20px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #000000;

    li {
        list-style-type: none;
    }
}

.item {
    list-style-type: none;
    width: 40px;
    height: 40px;
    background-color: #63faff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;

    &:hover {
        background-color: #50b3ff;
    }
}

.link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    font-weight: bold;
    background-color: #50b3ff !important;
}
